<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="PastaOrdemServico" value="OrdemServico\" />
    <add key="PastaIDOrdemServico" value="IDOrdemServico\" />
    <add key="PastaTabelas_SICOM" value="TabelasSicom\" />
    <add key="PastaTabelas_SAPHR" value="TabelasSapHR\" />
    <add key="PastaTabelas_SAPMM" value="TabelasSapMM\" />
    <add key="PastaTabelas_SAPPM" value="TabelasSapPM\" />
    <add key="QtdeArquivos_SICOM" value="19" />
    <add key="QtdeArquivos_SAPHR" value="6" />
    <add key="EnderecoArquivosEntrada" value="\\backup-se01\Transfer\DEV\sigos\Entrada\" />
    <add key="EnderecoArquivosAReenviar" value="\\backup-se01\Transfer\DEV\sigos\AReenviar\" />
    <add key="EnderecoArquivosEmExecucao" value="\\backup-se01\Transfer\DEV\sigos\EmExecucao\" />
    <add key="EnderecoArquivosCompactado" value="\\backup-se01\Transfer\DEV\sigos\Compactado\" />
    <add key="EnderecoArquivosBackup" value="\\backup-se01\Transfer\DEV\sigos\Backup\" />
    <add key="EnderecoArquivosErro" value="\\backup-se01\Transfer\DEV\sigos\Erro\" />
    <add key="ServidorWebCopasa" value="https://www.copasa.com.br/servicos/WebServiceAPI/hml/Sicom/api/" />
    <add key="ServidorWebMaxProcess" value="https://copasa-hml.azurewebsites.net/ws/" />
    <add key="ServidorWebMaxProcessAdicional" value="" />
    <add key="ServidorFTPMaxProcess" value="ftp://191.232.239.85/" />
    <add key="UsuarioFTPMaxProcess" value="maxlinesigos" />
    <add key="SenhaFTPMaxProcess" value="M@xftpCop" />
    <add key="ServidorFTPMaxProcessAdicional" value="ftp://191.232.239.85/" />
    <add key="UsuarioFTPMaxProcessAdicional" value="maxlinesigos" />
    <add key="SenhaFTPMaxProcessAdicional" value="M@xftpCop" />
    <add key="ArquivoLogFTP" value="c:\sigos\logFTP.txt" />
    <add key="ArquivoLogWS" value="c:\sigos\logWS.txt" />
    <add key="HoraProcessamentoTabelas" value="15" />
    <add key="HoraProcessamentoOS" value="2" />
    <add key="MinutosEsperaOS" value="1" />
    <add key="MinutosEsperaTB" value="15" />
    <add key="ProcessarFTP" value="S" />
    <add key="EnviarFTP" value="S" />
    <add key="ReenviarFTP" value="S" />
    <add key="ProcessarWS" value="N" />
    <add key="ProcessarWSOrdemServico" value="N" />
    <add key="ProcessarWSAlertaPrioridade" value="N" />
    <add key="ProcessarWSAlertaStatus" value="N" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FilesSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://homologa-net:8080/WebServiceSigos/files.asmx" binding="basicHttpBinding" bindingConfiguration="FilesSoap" contract="SRServidorFTP.FilesSoap" name="FilesSoap" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>