<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="NomePastaRepositorioArquivosFTP" value="ArquivosFTP"/>
    <add key="NomeArquivoOSEnvio" value="OrdemServicoTemp"/>
    <add key="NomeArquivoTabelasEnvio" value="TabelasTemp"/>
    <add key="Environment" value="/padroes/buscaDadosBroker.asp"/>
    <add key="AuthorizationIS" value="Basic QWRtaW5pc3RyYXRvcjptYW5hZ2U="/>
    <add key="EnvironmentProducao" value="/padroes/buscaDadosBroker.asp?Parametro="/>
    <add key="EnvironmentHomologacao" value="/padroes/buscaDadosBrokerWebService.asp?Parametro="/>
    <add key="EnvironmentDesenvolvimento" value="/padroes/buscaDadosBrokerDesenv.asp"/>
    <add key="proxyUser" value="Mjc4NDc="/>
    <add key="proxyPassword" value=""/>
    <add key="tokenCopasaUser" value="dynamics"/>
    <add key="tokenCopasaPassword" value="crm@123"/>

    <!--Início variáveis de ambiente-->
    <add key="UrlServicoSegundaViaFatura" value="http://wwwapp.copasa.com.br/segViaFatura/GeraFaturaCrmQas.aspx?fatura="/>
    <add key="HostLocal" value="https://wwwapp.copasa.com.br/servicos/WebServiceAPI/Tmt/CopasaAtende/"/>
    <add key="HostBroker" value="192.168.0.2"/>
    <add key="TotalRajadasTeste" value="1"/>
    <add key="HostBrokerHomol" value="10.1.13.35:8090" />
    <add key="HostIS" value="http://10.1.13.139:5554/ws/"/>
    <add key="UserIdIS" value="BRKRPCQA"/>
    <add key="UrlArcGisConsultaInterrupcao" value="http://10.1.13.129/CopagisInterrupcoes/Consulta/ConsultarApp?"/>
    <add key="UrlArcGisConsultaInterrupcaoPorBairro" value="http://10.1.13.129/CopagisInterrupcoes/Consulta/ConsultarPorBairro?"/>
    <add key="UrlArcGisConsultaInterrupcaoPorMatricula" value="http://10.1.13.129/CopagisInterrupcoes/Consulta/ConsultarPorMatricula?"/>
    <add key="Dyn365ClientId" value="c0806673-530f-4c7b-9b4c-7cc1610d5d92"/>
    <add key="Dyn365ClientSecret" value="oJHTt_K_ijnR5C]GwDdDP7.9rAcjkyJ5"/>
    <add key="Dyn365Resource" value="https://tmtcopasa.crm2.dynamics.com"/>
    <add key="Dyn365UserName" value="servico.app@copasa.com.br"/>
    <add key="Dyn365Password" value="app,spin33"/>
    <add key="Dyn365UrlToken" value="https://login.windows.net/copasa.com.br/oauth2/token"/>
    <add key="Dyn365Host" value="https://tmtcopasa.crm2.dynamics.com/api/data/v9.1/"/>
    <add key="Dyn365HostAuthenticate" value="https://copasatmtdyn365api.azurewebsites.net/api/"/>
    <!--Final variáveis de ambiente-->
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <add name="CopasaAtendeDataContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=COMERCIAL; Password=mocis; Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 10.1.50.1)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = orp2)));"/>
    <add name="DigitalDataContext" providerName="Oracle.ManagedDataAccess.Client"
          connectionString="User Id=COPASADIGITAL;Password=COPASA;Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = lxor09.copanet.copasa)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = orp5)))" />
  </connectionStrings>
</configuration>